/* CSS rules just for the view. not part of the atomic design. */
p {
    font-family: "Lato", sans-serif;
}

section {
    margin-top: 3em;
    margin-left: 2em;
    margin-right: 2em;
}

/* the designed atoms */

.input {
    font-family: "Lato", sans-serif;
    border: 0;
    outline: 0;
    background: transparent;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    font-size: 1.5rem;
}

.label {
    font-family: "Lato", sans-serif;
    color: lightgrey;
    text-transform: uppercase;
    font-weight: bold;
}

.button_content_sized {
    font-family: "Lato", sans-serif;
    background-color: dimgrey;
    color: white;
    border-radius: 20px;
    line-height: 40px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
    outline: 0;
    border: 0;
    text-transform: uppercase;
    padding-left: 5em;
    padding-right: 5em;
}

.button_full_width {
    font-family: "Lato", sans-serif;
    background-color: dimgrey;
    color: white;
    border-radius: 20px;
    line-height: 40px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
    outline: 0;
    border: 0;
    text-transform: uppercase;
    width: 100%;
}

.button_sub_full {
    font-family: "Lato", sans-serif;
    background-color: dimgrey;
    color: white;
    width: 100%;
    border-radius: 20px;
    line-height: 40px;
    outline: 0;
    border: 0;
    text-transform: uppercase;
}

.button_sub_content {
    font-family: "Lato", sans-serif;
    background-color: dimgrey;
    color: white;
    border-radius: 20px;
    line-height: 40px;
    outline: 0;
    border: 0;
    text-transform: uppercase;
}

