/* CSS rules just for the view. not part of the atomic design. */
.kaufui * {
  font-family: "Lato", sans-serif;
  font-style: normal;
}

.kaufui .text-normal {
    font-family: "Lato", sans-serif;
    font-style: normal;
}

.kaufui .text-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: thin;
}

.kaufui .text-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;

}

.kaufui .text-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;

}

.kaufui p {
  padding: 1rem;
}

.kaufui section {
    margin-top: 3em;
    margin-left: 2em;
    margin-right: 2em;
    background-color: ghostwhite;
}

/* the designed atoms */

.kaufui .white {
    color: white;
}

.kaufui header {
    font-family: "Lato", sans-serif;
    color: grey;
    text-align: center;
    font-size: 2rem;
}

.kaufui .center {
    text-align: center;
}

/* TODO: the margin should be avoided?! */
.kaufui .text_full_width {
    font-family: "Lato", sans-serif;
    background-color: #464553;
    line-height: 5rem;
    margin-top: 5rem;
    vertical-align: middle;
}

.kaufui .input {
    font-family: "Lato", sans-serif;
    border: 0;
    outline: 0;
    background: transparent;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    font-size: 1.5rem;
    text-indent: 2rem;
}

.kaufui .label {
    font-family: "Lato", sans-serif;
    color: lightgrey;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75rem;
    padding-left: 2rem;
}

.kaufui .button_content_sized {
    font-family: "Lato", sans-serif;
    background-color: dimgrey;
    color: white;
    border-radius: 30px;
    line-height: 3rem;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
    outline: 0;
    border: 0;
    text-transform: uppercase;
    padding-left: 5em;
    padding-right: 5em;
}

/* TODO: this does not look good, the floating arrow counts into the width calculation of the button */
.kaufui .button_content_sized::after {
    content: "\2192";
    display: inline;
    color: white;
    font-weight: bold;
    font-size: 2em;
    float: right;
    padding-right: 10px;
}

.kaufui .button_full_width {
    font-family: "Lato", sans-serif;
    background-color: dimgrey;
    color: white;
    border-radius: 30px;
    line-height: 3rem;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
    outline: 0;
    border: 0;
    text-transform: uppercase;
    width: 100%;
}

.kaufui .button_full_width::after {
    content: "\2192";
    display: inline;
    color: white;
    font-weight: bold;
    font-size: 2em;
    float: right;
    padding-right: 10px;
}

.kaufui .button_sub_full {
    font-family: "Lato", sans-serif;
    background-color: dimgrey;
    color: white;
    width: 100%;
    border-radius: 30px;
    line-height: 3rem;
    outline: 0;
    border: 0;
    text-transform: uppercase;
}

.kaufui .button_sub_content {
    font-family: "Lato", sans-serif;
    background-color: dimgrey;
    color: white;
    border-radius: 30px;
    line-height: 3rem;
    outline: 0;
    border: 0;
    padding-left: 5em;
    padding-right: 5em;
    text-transform: uppercase;
}

.kaufui .button_sub_content_outline {
    font-family: "Lato", sans-serif;
    background-color: white;
    color: grey;
    border-radius: 30px;
    line-height: 3rem;
    border: 4px solid lightgreen;
    padding-left: 5em;
    padding-right: 5em;
    text-transform: uppercase;
}

/**
* a white box with rounded corners
*/
.kaufui .box {
  margin: 1em;
  border-radius: .5em;
  background-color: white;
}
